.main-contact-div{
    background-color: rgba(92,117,146,.9);
}

.botones{
    background-color: #344d67;
}

.colorW{
    color: #f5f5f5;
}

.colorBLue{
    color: #223142;
    
}

/*prueba archivo*/
