.main-contact-div{
    background-color: rgba(92,117,146,.9);
}

.botones{
    background-color: #344d67;
}

.botones:hover{
    background-color: #6eccaf;
}

.colorW{
    color: #f5f5f5;
}

.colorBLue{
    color: #223142;
    
}



.name{
    color: #344d67;
}


h2, h3{
    color: #344d67;
}

h3{
    width: fit-content;
    padding-left: 15px;
}
/*prueba archivo*/
